 
<button class="btn menu-button " id="btNewsPage" data-toggle="tooltip" title="Powrót do menu poprzedniego">
        <a href="/wyszukiwanie"><span>< Powrót </span> </a>
</button>
<button class="btn menu-button " id="btNewsPage" data-toggle="tooltip" title="Rezerwacja">
    <a href="/searching?id=<%= car[0].id %>"><span>Zarezerwuj</span></a>

</button>


<div class="btn-toolbar pull-right">
    <div class="btn-group " role="group" aria-label="..." data-toggle="tooltip" title="Wyloguj się z serwisu." data-original-title="">
        <form action="/logout?_mo=DELETE" method="POST" >
            <button class="btn menu-button   btn-off pull-right-lg" value="Login " id="btLogoutPage" type="submit" >
                <span aria-hidden="false" >Wyloguj się</span>
            </button>
        </form>
    </div>
</div>
<hr>