    <button class="btn menu-button " id="btNewsPage" data-toggle="tooltip" title="Zawiera aktualizowane linki do informacji powiązanych z bazami danych i SQL">
            <a href="/aktualnie"><span aria-hidden="false" >Aktualności</span></a>
    </button>
    <button class="btn menu-button " id="btHistPage" data-toggle="tooltip" title="Zawiera informacje o zmianach w serwisie">
        <a href="/wyszukiwanie"><span aria-hidden="false" >Wyszukaj</span></a>
    </button>
        
    <div class="btn-group" aria-label="...">
        
        

    </div>
    <div class="btn-toolbar pull-right">
        <div class="btn-group " role="group" aria-label="..." data-toggle="tooltip" title="Zaloguj się lub utwórz konto w serwisie." data-original-title="Jeśli nie posiadasz konta - zarejestruj się">
            <button class="btn menu-button   btn-off pull-right-lg" value="Login " id="btLoginPage" >
                <a href="/login"><span aria-hidden="false" >Zaloguj się</span></a>
            </button>
        </div>
    </div>
<hr>