<footer class="footer navbar-fixed-bottom hidden-xs">
    <img class="hidden-xs" src="img/footer.png" alt="sql logo">
    <div id="stopka" class="container-fluid with-padding">

        <div class="row ">
            <div class = "col-xs-6 col-md-4  col-lg-2  col-xs-offset-2" >
                <strong> Projekt Serwis Rezerwacji Samochodów:</strong>
                <p>Autor projektu: Przemysław Zagraniczny </p>
                <p>Autor grafik: Przemysław Zagraniczny</p>
            </div>
            <div class = "col-xs-6 col-md-4  col-lg-2  col-xs-offset-0 col-md-offset-0 col-lg-offset-0" >
                <strong> Projekt utworzony w oparciu:</strong>
                <p>Front-end: Bootstrap + jQuery.</p>
                <p>Back-end. node.js, express, ejs</p>
                <p>Projekt oparty o bazę danych PostgreSQL</p>
            </div>
            <div class = "col-xs-6 col-md-4  col-lg-4  col-xs-offset-0 col-md-offset-0 col-lg-offset-0" >
                <strong>Uwagi proszę przesyłać na adres e-mail:</strong>
                <p>adres@domena.com</p>
                <p class="hidden">Copyright © 2021  Przemysław Zagraniczny.</p>
            </div>

            </div>
    </div>
</footer> 